body {
   	padding-left:2em;
	padding-right:2em;
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:#EEE2DC;
}

h1, h2{
	padding:1em;
	color:#EDC7B7;
  	text-align:center;
	background-color:#AC3B61;
}
img{
	width:5em;
	height:5em;
}

th, td {
  text-align: center;
  border: 3px solid white;
  border-radius:2px;
  border-collapse: collapse;

}
.navigation{
	background-color:#123C69;
	text-decoration: none;
	height:500px;
	width:325px;
	float:left;
}
.navigation a{
	text-align:center;
	display: block; 
	text-decoration: none;	
	background-color:#BAB2B5;
	height:30px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
  	border: 3px solid white;
	padding-bottom:1em;

}

.content table{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  background-color:#BAB2B5;
}
